<%= form_with(model: device, local: true) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :device_name %>
  </div>

  <div class="field">
    <%= f.label :location_id, "Location" %>
    <%= f.select :location_id, 
    @locations.collect { |l| [ l.name, l.id ] }, 
    { include_blank: false }, { class: 'f-control' } %>
  </div>

  <div class="field">
    <%= f.label :device_model_id %>
    <%= f.select :device_model_id, 
    @device_models.collect { |d| [ d.name, d.id ] }, 
    { include_blank: false }, { class: 'f-control' } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
