<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @remote.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @remote.brand.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @remote.model %>
</p>

<p>
  <strong>Supported devices:</strong>
  <%= @remote.supported_devices %>
</p>

<p>
  <strong>Bits:</strong>
  <%= @remote.bits %>
</p>

<p>
  <strong>Flags:</strong>
  <%= @remote.flags %>
</p>

<p>
  <strong>Include:</strong>
  <%= @remote.include %>
</p>

<p>
  <strong>Manual sort:</strong>
  <%= @remote.manual_sort %>
</p>

<p>
  <strong>Suppress repeat:</strong>
  <%= @remote.suppress_repeat %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @remote.driver %>
</p>

<p>
  <strong>Eps:</strong>
  <%= @remote.eps %>
</p>

<p>
  <strong>Aeps:</strong>
  <%= @remote.aeps %>
</p>

<p>
  <strong>Header:</strong>
  <%= @remote.header %>
</p>

<p>
  <strong>Zero:</strong>
  <%= @remote.zero %>
</p>

<p>
  <strong>One:</strong>
  <%= @remote.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @remote.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @remote.three %>
</p>

<p>
  <strong>Ptrail:</strong>
  <%= @remote.ptrail %>
</p>

<p>
  <strong>Plead:</strong>
  <%= @remote.plead %>
</p>

<p>
  <strong>Foot:</strong>
  <%= @remote.foot %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @remote.repeat %>
</p>

<p>
  <strong>Pre data bits:</strong>
  <%= @remote.pre_data_bits %>
</p>

<p>
  <strong>Pre data:</strong>
  <%= @remote.pre_data %>
</p>

<p>
  <strong>Post data bits:</strong>
  <%= @remote.post_data_bits %>
</p>

<p>
  <strong>Post data:</strong>
  <%= @remote.post_data %>
</p>

<p>
  <strong>Pre:</strong>
  <%= @remote.pre %>
</p>

<p>
  <strong>Post:</strong>
  <%= @remote.post %>
</p>

<p>
  <strong>Gap:</strong>
  <%= @remote.gap %>
</p>

<p>
  <strong>Repeat gap:</strong>
  <%= @remote.repeat_gap %>
</p>

<p>
  <strong>Min repeat:</strong>
  <%= @remote.min_repeat %>
</p>

<p>
  <strong>Toggle bit:</strong>
  <%= @remote.toggle_bit %>
</p>

<p>
  <strong>Toggle bit mask:</strong>
  <%= @remote.toggle_bit_mask %>
</p>

<p>
  <strong>Repeat mask:</strong>
  <%= @remote.repeat_mask %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @remote.frequency %>
</p>

<p>
  <strong>Duty cycle:</strong>
  <%= @remote.duty_cycle %>
</p>

<%= link_to 'Edit', edit_remote_path(@remote) %> |
<%= link_to 'Back', remotes_path %>
