<nav class="navbar navbar-dark bg-dark fixed-top navbar-toggleable-sm">
  <%= link_to 'Bernard.ai', root_path, class: 'navbar-brand', id: 'logo' %>

  <ul class="nav">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Brands', device_brands_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Models', device_models_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Types', device_types_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Devices', devices_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Remotes', remotes_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Keys', keys_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Locations', locations_path, class: 'nav-link' %>
    </li>
    <li class="nav-item dropdown">
      <%= link_to '', class: 'nav-link dropdown-toggle',
                      id: 'user_menu_toggler',
                      data: { toggle: 'dropdown' },
                      aria: { expanded: 'false', haspopup: 'true' } do %>
        <%= fa_icon 'user-o' %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-right" id="user_menu" aria-labelledby="user_menu_toggler">
        <%= link_to 'Edit account', edit_user_registration_path(current_user), class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Sign out...', destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
      </div>
    </li>
  <% else %>
      <li class="nav-item active">
        <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
      </li>
  <% end %>
  </ul>
</nav>
